---
title: Le Wagon - Middleman
---

<div id="home">
  <div class="home-content">
    <p>
      <%= Date.today %>
    </p>

    <h3 class="text-center">Technologies we are learning</h3>

      <ul>
      <% ["Ruby", "SQL", "HTML", "CSS", "ERB", "JS", "SCSS"].each do |tech| %>
        <li><%= tech %></li>
      <% end %>
      </ul>

    <a href="#" class="btn btn-primary">Click me!!!</a>


  </div>
</div>






